<table class="table">
    <thead>
        <tr>
            <th><a href="#" ng-click="order('make')">Make</a></th>
            <th><a href="#" ng-click="order('model')">Model</a></th>
            <th><a href="#" ng-click="order('body_type')">Body Type</a></th>
            <th><a href="#" ng-click="order('color')">Color</a></th>
            <th><a href="#" ng-click="order('price')">Price</a></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="car in cars">
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.body_type }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.price }}</td>
        </tr>
    </tbody>
</table>