<cars>
    {% for car in cars %}
        <car>
            <make>{{ car.make }}</make>
            <model>{{ car.model }}</model>
            <body_type>{{ car.body_type }}</body_type>
            <price>{{ car.price }}</price>
            <color>{{ car.color }}</color>
        </car>
    {% endfor %}
</cars> 