<html ng-app="exports">
    <head>
        {% stylesheets '@css_vendor' %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% javascripts '@js_vendor' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% javascripts '@js_ng' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}


        <script type="text/javascript">
            angular.module("exports").value(
                    "cars", {{ cars|json_encode()|raw }}
            );
        </script>
    </head>
    <body>

    <cars></cars>
</body>
</html>
